.logo {
  height: 40px;
  margin-right: 16px;
}

.system-name {
  font-size: 1.2em;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  height: 90px;
}

mat-form-field {
  width: 300px;
  margin-bottom: -1.25em;
}

